<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
          <div class="card mb-4">
            <!-- Card header -->
            <div class="card-header border-0">
              <div class="row">
                  <div class="col-6">
                      <h3 class="mb-0">AJOUTER ASSURE</h3>
                  </div>
                  <div class="col-6 text-right">
                      
                      <span class="badge badge-lg badge-success">Active</span>
                      </a>
                  </div>
                  </div>
                  <div class="bootstrap-tagsinput"><span class="tag badge badge-primary">#hastag<span data-role="remove"></span></span> <span class="tag badge badge-primary">#Insuris<span data-role="remove"></span></span> <span class="tag badge badge-primary">#Assure<span data-role="remove"></span></span> <span class="tag badge badge-primary"> #Admin<span data-role="remove"></span></span> <span class="tag badge badge-primary"> #test<span data-role="remove"></span></span> <input type="text" placeholder=""><div></div></div>
              
          </div>
            <!-- Card body -->
            <div class="card-body">
            <form>
                <!-- Input groups with icon -->
                <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                    <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                        <span class="input-group-text" ><i class="ni ni-single-02"></i></span>
                        </div>
                        <input class="form-control" placeholder="Your name" type="text">
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                  <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                      <input class="form-control" placeholder="Your name" type="text">
                  </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                  <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                      </div>
                      <input class="form-control" placeholder="Your name" type="text">
                  </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                    <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input class="form-control" placeholder="Email address" type="email">
                    </div>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                    <div class="input-group input-group-merge">
                        <input class="form-control" placeholder="Location" type="text">
                        <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                    <div class="input-group input-group-merge">
                        <input class="form-control" placeholder="Password" type="password">
                        <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-eye"></i></span>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <!-- Input groups with icon -->
                <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                    <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-credit-card"></i></span>
                        </div>
                        <input class="form-control" placeholder="Payment method" type="text">
                        <div class="input-group-append">
                        <span class="input-group-text"><small class="font-weight-bold">USD</small></span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                    <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-globe-americas"></i></span>
                        </div>
                        <input class="form-control" placeholder="Phone number" type="text">
                        <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
  











