<!DOCTYPE html>

{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>GS1 ONLINE ERP</title>
    <!-- Favicon-->
    <link rel="icon" href="{% static 'images/gs1ea.png' %}" type="image/png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->

    <!-- Waves Effect Css {% static '' %} -->
    <link href="{% static 'plugins/node-waves/waves.css' %} " rel="stylesheet" />
    <!-- JQuery DataTable Css -->
    <link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">
    <!-- Animation Css -->
    <link href="{% static 'plugins/animate-css/animate.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" />
    <style type="text/css">
        .multiselect { border: solid 1px #333; font-size: 1em;  overflow:scroll; height: 20rem;}
        .ui-multiselect ul { -moz-user-select: none; }
        .ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; }
        .ui-multiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }

        .ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left; border-left: 1px solid; }
        .ui-multiselect ul.available { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; width: 100%; }
        .ui-multiselect ul.available li { padding-left: 10px; }
        .ui-multiselect .ui-state-default { border: none; margin-bottom: 1px; position: relative; padding-left: 20px;}
        .ui-multiselect .ui-state-hover { border: none; }
        .ui-multiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px;}
        .actions a{
            display: none;
            opacity: 0;
        }
        .multiselect .search { opacity: 0;}
        .ui-multiselect .count { float: left; padding: 7px;}
        .ui-multiselect li a.action { position: absolute; right: 2px; top: 2px; height: 20px; }
        .ui-multiselect input.search { height: 20px; padding: 4px; margin: 4px; width: 96%; }
    </style>
    <!-- Custom Css -->
    <link href="/static/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="/static/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet">
     <link href="{% static 'css/themes/argon.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body  onload ="timeMsg()" class="g-sidenav-show g-sidenav-pinned">
  <!-- Page Loader -->
  <div class="page-loader-wrapper">
      <div class="loader">
          <div class="preloader">
              <div class="spinner-layer pl-red">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
          </div>
          <p>Please wait...</p>
      </div>
  </div>
  <!-- #END# Page Loader argon -->
  
  <!-- Overlay For Sidebars fin argon-->
  <!-- #END# Overlay For Sidebars -->
  
  <!-- Top Bar -->
  
  
  <!-- #Top Bar -->
  <nav id="sidenav-main" class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" >
      <div class="sidenav-header d-flex align-items-center">
                <a class="navbar-brand" href="/">
                  <img src="/static/images/gs1.png" class="navbar-brand-img" alt="Flask Argon Dashboard">
                </a>
                <div class="ml-auto">
                  <!-- Sidenav toggler -->
                  <div class="sidenav-toggler d-none d-xl-block active" data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                      <i class="sidenav-toggler-line"></i>
                      <i class="sidenav-toggler-line"></i>
                      <i class="sidenav-toggler-line"></i>
                    </div>
                  </div>
                </div>
      </div>
            <!-- User Info -->
      <div class="navbar-inner">
      <div id="sidenav-collapse-main" class="collapse navbar-collapse">
    
          <!-- Menu -->
          <div class="menu">
            <ul class="list">
                <li class="active">
                    <a href="{% url  'CRM:index' %}">
                        <i class="material-icons">apps</i>
                        <span>DASHBOARD</span>
                    </a>
                </li>
                <li class="active">
                  <a href="{% url  'CRM:list_client' %}">
                      <i class="material-icons">people</i>
                      <span>ASSURE</span>
                  </a>
              </li>
                
            
              
              
              <li class="active">
                  <a href="{% url  'index' %}">
                      <i class="material-icons">keyboard_return</i>
                      <span>BACK TO PANEL</span>
                  </a>
              </li>
            </ul>
          </div>
        </div>
    </div>
</div>
    
<div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 164px; top: 199px;"></div></div></div>

</nav>


 <div class="main-content">


 

            <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
                <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Search form -->
                    <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                      <div class="form-group mb-0">
                        <div class="input-group input-group-alternative input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                          </div>
                          <input class="form-control" placeholder="Search" type="text">
                        </div>
                      </div>
                      <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </form>
                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center ml-md-auto">
                      <li class="nav-item d-xl-none">
                        <!-- Sidenav toggler -->
                        <div class="pr-3 sidenav-toggler sidenav-toggler-dark active" data-action="sidenav-pin" data-target="#sidenav-main">
                          <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                          </div>
                        </div>
                      </li>
                      <li class="nav-item d-sm-none">
                        <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                          <i class="ni ni-zoom-split-in"></i>
                        </a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="ni ni-bell-55"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right py-0 overflow-hidden">
                          <!-- Dropdown header -->
                          <div class="px-3 py-3">
                            <h6 class="text-sm text-muted m-0">You have <strong class="text-primary">13</strong> notifications.</h6>
                          </div>
                          <!-- List group -->
                          <div class="list-group list-group-flush">
                            
                            
                            
                            
                          </div>
                          <!-- View all -->
                          <a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="ni ni-ungroup"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default dropdown-menu-right">
                          <div class="row shortcuts px-4">
                            <a href="#!" class="col-4 shortcut-item">
                              <span class="shortcut-media avatar rounded-circle bg-gradient-red">
                                <i class="ni ni-calendar-grid-58"></i>
                              </span>
                              <small>Calendar</small>
                            </a>
                            <a href="#!" class="col-4 shortcut-item">
                              <span class="shortcut-media avatar rounded-circle bg-gradient-orange">
                                <i class="ni ni-email-83"></i>
                              </span>
                              <small>Email</small>
                            </a>
                            <a href="#!" class="col-4 shortcut-item">
                              <span class="shortcut-media avatar rounded-circle bg-gradient-info">
                                <i class="ni ni-credit-card"></i>
                              </span>
                              <small>Payments</small>
                            </a>
                            <a href="#!" class="col-4 shortcut-item">
                              <span class="shortcut-media avatar rounded-circle bg-gradient-green">
                                <i class="ni ni-books"></i>
                              </span>
                              <small>Reports</small>
                            </a>
                            <a href="#!" class="col-4 shortcut-item">
                              <span class="shortcut-media avatar rounded-circle bg-gradient-purple">
                                <i class="ni ni-pin-3"></i>
                              </span>
                              <small>Maps</small>
                            </a>
                            <a href="#!" class="col-4 shortcut-item">
                              <span class="shortcut-media avatar rounded-circle bg-gradient-yellow">
                                <i class="ni ni-basket"></i>
                              </span>
                              <small>Shop</small>
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <ul class="navbar-nav align-items-center ml-auto ml-md-0">
                      <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="media align-items-center">
                            
                            <span class="avatar avatar-sm rounded-circle">
                              {% if employee.profile_pic %}
                            <img alt="Image placeholder" src="{{ employee.profile_pic.url }}">
                              {% elif employee.profile_pic == "" %}
                              {% endif %}
                            </span>
                            
                            <div class="media-body ml-2 d-none d-lg-block">
                              {% if user.is_authenticated %}
        
                              <span class="mb-0 text-sm  font-weight-bold"></span>
                              {{user.username }} &nbsp; &nbsp; {{user.last_name}}
        
                            </div>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome!</h6>
                          </div>
                          <a href="{% url 'accounts:profile' employee.id %}" class="dropdown-item">
                            <i class="ni ni-single-02"></i>
                            <span>My profile</span>
                          </a>
                          <a href="#!" class="dropdown-item">
                            <i class="ni ni-settings-gear-65"></i>
                            <span>Settings</span>
                          </a>
                          <a href="#!" class="dropdown-item">
                            <i class="ni ni-calendar-grid-58"></i>
                            <span>Activity</span>
                          </a>
                          <a href="#!" class="dropdown-item">
                            <i class="ni ni-support-16"></i>
                            <span>Support</span>
                          </a>
                          <div class="dropdown-divider"></div>
                          <a href="{% url 'accounts:logout'%}" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                          </a>
                        </div>
                      </li>
                    </ul>
                    {% endif %}
        
                  </div>
                </div>
              </nav>
          
        
        
         <!-- Start of Notifications -->
         <!----div class="header pb-6">
  

            <div class="container-fluid">
              <div class="header-body">
                <div class="row align-items-center py-4">
                  <div class="col-lg-6 col-7">
                    <h6 class="h2 d-inline-block mb-0">Alternative</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                      <ol class="breadcrumb breadcrumb-links">
                        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url  'hrm:hrm_index' %}">Dashboards</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Alternative</li>
                      </ol>
                    </nav>
                  </div>
                  <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">New</a>
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                  </div>
                </div>
              </div>
            </div>
            </div>
      
             
        
          <!-- #Menu -->
          <!-- Footer -->
<!--           <div class="legal">
              <div class="copyright">
                  &copy; 2018 <a href="javascript:void(0);">GS1 Kenya </a>.
              </div>
          </div> -->
          <!-- #Footer -->
      </aside>
      <!-- #END# Left Sidebar -->
      <section class="content">
          <div class="container-fluid">
              <div class="block-header">
                  <h2>{% block header %} {% endblock%}</h2>
              </div>
              {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
              </div>
              {% endfor %}
  {% block content %}

  {% endblock %}
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/ui-multiselect.js' %}"></script> 
    <script src="/static/assets/js/argon.js"></script>
    <script src="/static/assets/js/plugins/jquery/dist/jquery.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/plugins/js-cookie/js.cookie.js"></script>
    <script src="/static/assets/js/plugins/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="/static/assets/js/plugins/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!--   Optional JS   -->
  <script src="/static/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>

  <!--   G.Maps   -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <script>
        $( function() {
            $( ".datepicker" ).datepicker();
        } );

     $("document").ready(function(){
         console.log("Omambia Dauglous");
         setTimeout(function(){
             $("div.alert").remove();
         }, 5000 ); // 5 secs

     });
        $(function(){
        // choose either the full version
        $(".multiselect").multiselect();
        });
    </script>
    <script src="{% static 'plugins/node-waves/waves.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/pages/tables/jquery-datatable.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>
</body>

</html>
